body {
 background: linear-gradient(to right, #134e5e, #71b280);  
}

nav {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
 background: linear-gradient(to right, #134e5e, #71b280);  
  top: 0%;
  z-index: 10;
  border-radius: 40px;

  > h1 {
    text-transform: uppercase;
    margin-left: 20px;
  }

  > main {
    width: 70%;
    display: flex;
    justify-content: flex-end;

    > a {
      color: rgb(44, 44, 44) ;
      margin: 1rem;

      &:hover {
        color: #5853ff ;
      }
    }
  }
}
