@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth  ;
}


@media (max-width: 768px) {
    * {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    * {
        font-size: 12px;
    }
}
